[submodule "caltech-bifrost-dsp"]
	path = caltech-bifrost-dsp
	url = https://github.com/realtimeradio/caltech-bifrost-dsp
[submodule "caltech-lwa"]
	path = caltech-lwa
	url = https://github.com/realtimeradio/caltech-lwa
