[Unit]
Description=NDP DRX Pipeline - Third Tuning
After=network-online.target
Wants=network-online.target

[Service]
# Run as the specified user
User=ndp

# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Allow CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW

# Have a safety net to kill off recalcitrant pipelines
KillSignal=SIGTERM
TimeoutStopSec=20

# Logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ndp-drx-2

# Run before process
ExecStartPre=/bin/bash -c '[ -d /home/ndp/log ] || mkdir -p /home/ndp/log'

# Setup the environment
Environment=BIFROST_INCLUDE_PATH=/home/ndp/bifrost8_zcu102/src/bifrost
Environment=LD_LIBRARY_PATH=/usr/local/cuda/lib64:/home/ndp/bifrost8_zcu102/lib:/usr/local/bin:$LD_LIBRARY_PATH
Environment=PYTHONPATH=/home/ndp/lwa_sv/scripts:/home/ndp/bifrost8_zcu102/python:$PYTHONPATH

Environment=PYTHONUNBUFFERED=1

WorkingDirectory=/usr/local/bin

ExecStart=/bin/bash -ec '\
server=$(hostname | sed -e "s/ndp//") && \
eval $(python3 -c "from ndp.NdpHelpers import pipeline_setup; \
                    pipeline_setup('/usr/local/share/ndp/ndp_config.json', $server, 2)") && \
if [[ 2 < $npipe ]]; then \
    numactl --cpunodebind=$binding --membind=$binding -- \
    python3 /usr/local/bin/ndp_drx.py \
        --tuning     $tuning \
        --configfile /usr/local/share/ndp/ndp_config.json \
        --logfile    /home/ndp/log/ndp-drx-2.%H.log; \
else \
    echo "Pipeline slot 2 not used per the ndp_config.json configuration"; \
fi'

[Install]
WantedBy=multi-user.target
